{% extends 'layouts/base.html.twig' %}

{% block title 'Espace Personnel' %}


{% block body %}
    <div class="row mt-4 ">
        <div class="col-md-7 mx-auto text-center">
            <h1 class="text-center text-muted">Changer mon mot de passe</h1>

            {{form_start(form)}}
            {{form_widget(form)}}
                <button class="btn btn-primary btn-block" type="submit">Changer mon mot de passe</button>
            {{form_end(form)}}



        </div>
    </div>
{% endblock %}
