{% extends 'layouts/base.html.twig' %}

{% block title 'Nouveau Post' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center text-muted mb-3">Nouveau Post</h1>
             {{ include('pins/_form.html.twig', {submitButtonText: 'Publier'}) }}
        </div>
    </div>  

{% endblock %}
