{% extends 'layouts/base.html.twig' %}

{% block title 'New Pin' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Create a Pin</h1>
             {{ include('pins/_form.html.twig', {submitButtonText: 'Create a Pin'}) }}
        </div>
    </div>  

{% endblock %}
