<h1 style="text-align:center;">Bonjour !</h1>
<h2 style="text-align:center;">Bienvenue sur CLONE</h2>
<p style="text-align:center;">
    Veuillez confirmer votre adresse email en cliquanr sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse email</a>.
   
</p>

<p style="text-align:center;">
    A tout de suite !
</p>

<p style="text-align:center;"> L'équipe CLONE</p>
